/* important stuff for this example */


.row {
  display:flex;
}
.div1 {
  //flex: 1 1 auto;
  width: 550px;
  
}

.div2 {
  flex: 0 0 auto;   
}



/* other stuff */
// div {
//   // padding:1em;
//   // margin:0.2em;
//  // background-color: rgba(0,0,0,0.125)
// }
.row {
  width:100%;
  padding:1em;
  overflow:hidden;
  
}

