<mat-card *ngIf="!isCategoryVisible && !isPayeeVisible && !isNumPadVisible">

    <mat-card-title>
        New Transaction
    </mat-card-title>

    <mat-card-content>
        <form [formGroup]="newTransactionForm" #form="ngForm" >
            <table>
                <tr>
                    <td>
                        <mat-form-field>
                            <mat-select placeholder="Select Transaction" [(value)]="selected" formControlName="transactionType" [(ngModel)]="transaction.transactionType">
                                <mat-option value="Expense">Expense</mat-option>
                                <mat-option value="Income">Income</mat-option>
                                <mat-option value="Bill">Bill</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="transactionDate" [(ngModel)]="transaction.transactionDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker touchUi="true" #picker></mat-datepicker>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field>
                            <input matInput placeholder="Category/Sub Category" (focus)="toggleCategoryView()" (focusout)="toggleCategoryView()" formControlName="category" [(ngModel)]="transaction.category">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <!-- <input matInput placeholder="Account" formControlName="account" [(ngModel)]="transaction.account">     -->
                            <mat-select placeholder="Account" [(value)]="selected" formControlName="account" [(ngModel)]="transaction.account">
                                <mat-option value="Main Account">Main Account</mat-option>
                                <mat-option value="Expense Account">Expense Account</mat-option>
                                <mat-option value="Sales Account">Sales Account</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td>
                        <mat-form-field>
                            <input matInput placeholder="Payee" (focus)="togglePayeeView()" (focusout)="togglePayeeView()" formControlName="payee" [(ngModel)]="transaction.payee">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <input matInput placeholder="Amount" (focus)="toggleNumberView()" (focusout)="toggleNumberView()" formControlName="amount" [(ngModel)]="transaction.amount">
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td colspan="1">
                        <mat-form-field>
                            <textarea matInput placeholder="Notes" formControlName="notes" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" [(ngModel)]="transaction.notes"></textarea>
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" class="content-center">
                        <button mat-raised-button color="accent" (click)="createNewTransaction(newTransactionForm.value)" [disabled]="!newTransactionForm.valid">Submit</button>
                        <button mat-raised-button color="accent">Clear</button>
                    </td>
                </tr>
                <tr>
                        <div class="container">
                                <button mat-raised-button color="primary" (click)="fileInput.click()">Add Files</button>
                                <input id="cin" name="cin" hidden type="file" #fileInput (change)="fileChangeEvent($event)">
                        </div>
                        <img [src]="url" height="150" width="150">
                        <!-- <input type="file" ng2FileSelect [uploader]="uploader"> -->
                    <!-- <div>
                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image"/>
                      </div>

                      <div>
                        <button mat-raised-button color="accent">
                          <label for="select">Select image</label>
                        </button>
                        <input mat-raised-button color="accent">
                        <button mat-raised-button color="accent">
                          <label for="change">Change</label>
                        </button>
                        <input>
                        <button mat-raised-button color="accent">
                          <label for="cancel">Remove</label>
                        </button>
                        <input class="file-input" id="cancel">
                      </div> -->
                </tr>
            </table>
        </form>

        <!-- <input id="cin" name="cin" type="file" (change)="fileChangeEvent($event)" placeholder="Upload a file..." multiple/>

<button type="button" class="btn btn-success btn-s" (click)="upload()">
    <i class="glyphicon glyphicon-open-file"></i>&nbsp;Upload
</button> -->

        <!-- <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />

<button type="button" class="btn btn-success btn-s" 
  (click)="uploader.uploadAll()" 
  [disabled]="!uploader.getNotUploadedItems().length" >
      Upload an Image
</button> -->
        <!-- <app-file-upload></app-file-upload> -->


        <!-- <pre>{{transaction | json}}</pre>
        <pre>{{ newTransactionForm.value | json }}</pre> -->
    </mat-card-content>
</mat-card>

<app-category *ngIf="isCategoryVisible && !isPayeeVisible" (selectedCategoryChange)="onCategorySelected($event)"></app-category>
<app-payee *ngIf="isPayeeVisible" (selectedPayeeChange)="onPayeeSelected($event)"></app-payee>
<app-number-view *ngIf="isNumPadVisible"></app-number-view>